@media screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    height: 70px;

    .container {
      margin: 20px;
      padding: 0;

      .title {
        margin: 0;
        padding: 0;
        font-size: 24px;
      }
    }
  }
}
