@media screen and (max-width: 767px) {
  body {
    box-sizing: border-box;
  }

  header {
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;

    .container {
      margin: 20px;
      padding: 0;

      .title {
        margin: 0;
        padding: 0;
        font-size: 24px;
      }
    }
  }

  .books-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .filter {
      width: 100%;
    }

    thead {
      tr {
        display: none;
      }
    }

    .book {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      .category {
        order: 1;
        font-size: 14px !important;
      }

      .title {
        order: 2;
        font-size: 18px !important;
      }

      .id {
        order: 3;
        font-size: 14px !important;
      }

      .remove {
        order: 4;

        button {
          padding: 5px 0 5px 0;
          font-size: 14px !important;
        }
      }
    }
  }

  .books-form {
    width: 100%;
    padding: 0;

    .title-form {
      font-size: 18px !important;
      margin: 20px;
      padding: 0;
    }

    .form-group {
      width: 100%;
      margin-bottom: 20px;
    }

    input[type='submit'] {
      width: 100%;
      margin: 0 15px 20px 15px;
    }
  }
}
