@import '_fonts.scss';

body {
  background: #fafafa;
}

header {
  height: 95px;
  border: solid 1px #e8e8e8;

  .title {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 30px;
    color: #0290ff;
  }
}